data
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
venv/
env/
.env

# Distribution / packaging
build/
dist/
work_dirs/

*.egg-info/
*.log.json
nohup.out
